# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files
*.go     text eol=lf
*.sh     text eol=lf
*.yaml   text eol=lf
*.yml    text eol=lf
*.md     text eol=lf
*.json   text eol=lf
*.txt    text eol=lf
*.proto  text eol=lf

# Binary files
*.png  binary
*.jpg  binary
*.ico  binary
*.pdf  binary
*.zip  binary
*.gz   binary

# Bundle files — no diff
*.bundle binary

# Generated coverage
coverage.out text eol=lf
